.DS_Store
node_modules
/dist
/node_modules
/tests/e2e/videos/
/tests/e2e/screenshots/
/soft/minio.tar
/soft/app.tar
/soft/mysql.tar
/soft/nginx.tar
/soft/redis.tar
/app/data/app.jar
/app/config/mysql/data
/app/config/redis/data

dist.zip
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.lock
